html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 32px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 32px;
    border-top: 1px solid #DDD;
    padding: 5px 10px 5px 10px;
    background-color: #F9F9F9;
 }

.jumbotron {
    margin-top: -20px;
}

.align-centered {
    text-align: center;
}

.navbar img.avatar {
    float: left;
    margin-top: -6px;
    margin-right: 4px;
    height: 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.passwords td:first-child .btn.btn-info {
    display: block;
    margin-bottom: 5px;
}

.thumbnail .caption {
    text-align: center;
}

.provider {
    padding: 1px;
    border: 1px solid transparent;
}
.current {
    border-color: #333333;
}

/* Home page styles */

.home-banner .container {
    background-image: url(../img/yithian.png);
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 350px;
    padding-right: 300px;
}

.home-banner p, .home-banner .btn {
    margin: 20px 0;
}

.marketing {
    margin-top: 60px;
    margin-bottom: 60px;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.marketing hr {
    margin: 60px 0;
}

.feature h2 {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.list-group-minimal .list-group-item {
    border: 0;
}

.list-group-minimal .list-group-item-heading > .badge {
    vertical-align: middle;
}

.btn small {
    display: block;
}

.alert form {
    text-align: center;
    margin: 0;
}


/* Profile styles */
.personal-info {
    margin-bottom: 12px;
}

.personal-info .avatar {
    float: left;
    margin-left: 60px;
}

.personal-info ul {
    margin-left: 180px;
}

/* Contribute styles */
.contribute-banner .container {
    background-image: url(../img/raised-hand.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    min-height: 225px;
    padding-right: 225px;
}

.contribute-banner p {
    margin: 20px 0;
}

#banner-preview {
    margin-top: 10px;
}

.table .flag-cell {
    vertical-align: middle;
}

.table .progress-cell {
    width: 40%;
}

.table .progress-cell .progress {
    margin-bottom: 0;
}

.sticker {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.deck {
    position: relative;
    padding: 20px 0;
    height: 350px;
}

.deck img {
    position: absolute;
}
